{% load static %}

<!DOCTYPE html>
<head>
    <h2>Sasi Kumar S</h2>
</head>
<title>Sample site</title>
<body>
    <h3>“The Bogey Beast” by Flora Annie Steel</h3>
    <p>
        <i>A woman finds a pot of treasure on the road while she is returning from work.</i><br>
    </p>
    <p>
        Delighted (very happy) with her luck, she decides to keep it. As she is taking it home, it keeps changing.
    </p>
    <p>   
        However, her enthusiasm refuses to fade away (disappear or faint slowly).<br>
    </p>
    <img src="{% static 'images/image.png' %}" alt="simple image">
    <p>
        <b>What Is Great About It:</b> The old lady in this story is one of the most cheerful characters anyone can encounter in English fiction.<br>
    </p>
    <p>
        Her positive disposition (personality) tries to make every negative situation seem like a gift, and she helps us look at luck as a matter of our view rather than events.<br>
    </p>
    For more stories, click on <a href="https://www.fluentu.com/blog/english/easy-english-short-stories-2/">this link</a>.
</body>