{% extends 'nav.html' %}

{% block title %} Reset the password {% endblock title %}
{% block h1 %}<b>Transformer<b/>{% endblock h1 %}
{% block form %}
{% for message in messages %}
<div class="alert alert-{{messages.tags}}))" role="alert">
  <h5 class="alert-heading">Hello..!</h5>
  <h5 style="background-color:Orange;">{{message}}</h5>
  <hr>
  <button type="button" clas="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h1> <b>Reset Password</b> </h1>
<form action="/ec/forgot-password/" method="post">
  {% csrf_token %}
  <label for="username">Username</label>
  <div class="form-group">
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required>
  </div><br>
  <button type="submit" class="btn btn-dark btn-sm btn-block">Submit</button>
  <br><br>
  <a href="/ec/login">Go Back</a><br>
</form>
{% endblock form %}