{% extends 'nav.html' %}

{% block title %} Set the password {% endblock title %}
{% block h1 %}<b>Transformer<b/>{% endblock h1 %}
{% block form %}
{% for message in messages %}
<div class="alert alert-{{messages.tags}}))" role="alert">
  <h5 class="alert-heading">Hello..!</h5>
  <h5 style="background-color:Orange;">{{message}}</h5>
  <hr>
  <button type="button" clas="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<h1> <b>Set the Password</b> </h1>
<form action="/ec/reset-password/uidb64/token" method="post">
  {% csrf_token %}
  <label for="password">Password</label>
  <div class="form-group">
    <input type="password" class="form-control" id="password" name="pass1" placeholder="Enter password" required>
  </div><br>
  <label for="password">Confirm Password</label>
  <div class="form-group">
    <input type="password" class="form-control" id="password" name="pass2" placeholder="confirm the password" required>
  </div><br>
  <button type="submit" class="btn btn-dark btn-sm btn-block">Submit</button>
  <br><br>
  <a href="/ec/login">Go Back</a><br>
</form>
{% endblock form %}